@model Fitness.Models.Hizmet
@{
    ViewData["Title"] = "Hizmet Detayi";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Hizmet Adi</dt>
                <dd class="col-sm-9">@Model.Ad</dd>

                <dt class="col-sm-3">Salon</dt>
                <dd class="col-sm-9">@Model.Salon?.Ad</dd>

                <dt class="col-sm-3">Sure</dt>
                <dd class="col-sm-9">@Model.SureDakika dakika</dd>

                <dt class="col-sm-3">Ucret</dt>
                <dd class="col-sm-9">@Model.Ucret.ToString("N2") TL</dd>
            </dl>

            <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Duzenle</a>
                <a asp-action="Index" class="btn btn-secondary">Listeye Don</a>
            </div>
        </div>
    </div>

    @if (Model.AntrenorHizmetler.Any())
    {
        <hr class="my-4" />
        <h3>Bu Hizmeti Veren Antrenorler</h3>
        <ul class="list-group">
            @foreach (var ah in Model.AntrenorHizmetler)
            {
                <li class="list-group-item">
                    <strong>@ah.Antrenor?.AdSoyad</strong> - @ah.Antrenor?.UzmanlikAlani
                </li>
            }
        </ul>
    }
</div>
